<h1 class="title">EE Rounds</h1>
<div
  id="subscribe-to-rounds"
  data-controller="hello"
  data-hello-vapid-public-key-value="<%= Base64.urlsafe_decode64(Rails.application.credentials.dig(:webpush, :public_key)).bytes %>"
  data-hello-subscribed-value="false"
>
  <span data-hello-target="text">Subscribe to the new round notification:</span>
  <%= button_tag('Subscribe', class: 'button', data: { 'hello-target': 'button', action: 'click->hello#toggleSubscription' }) %>
</div>
<%= datagrid_table @grid, html: { class: 'table is-striped is-hoverable is-fullwidth' } %>
<%= paginate @grid.assets, window: 2 %>
