<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Calmmigration</strong> by <a href="https://github.com/kevinluo201">kevinluo201</a>. The source code is licensed
      <%= link_to 'MIT', 'https://github.com/kevinluo201/calmmigration/blob/main/LICENSE' %>.
    </p>
    <div class="links">
      <%= link_to 'https://github.com/kevinluo201/calmmigration', target: '_blank' do %>
        <span class="icon">
          <i class="fa-brands fa-github fa-2xl"></i>
        </span>
      <% end %>
      <%= link_to 'https://www.linkedin.com/in/kevinluo201/', class: 'ml-3 mr-3', target: '_blank' do %>
        <span class="icon">
          <i class="fa-brands fa-linkedin fa-2xl"></i>
        </span>
      <% end %>
    </div>
  </div>
</footer>