<footer class="footer">
  <div class="content has-text-centered">
    <p>
      The source code of <strong>Calmmigration</strong> is licensed
      <%= link_to 'MIT', 'https://github.com/kevinluo201/calmmigration/blob/main/LICENSE' %>.
    </p>
    <div class="links">
      <%= link_to 'https://github.com/kevinluo201/calmmigration', target: '_blank' do %>
        <span class="icon">
          <i class="fa-brands fa-github fa-2xl"></i>
        </span>
      <% end %>
    </div>
  </div>
</footer>