<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://calmmigration.ca">
      <%= image_tag 'logo.png', class: 'mr-2' %>
      <span class="is-size-4">Calmmigration</span>
    </a>
    <%= link_to 'Rounds', rounds_path, class: 'navbar-item' %>
    <%= link_to 'Trends', '/trends', class: 'navbar-item', data: { turbo: false } %>
  </div>
</nav>